* {
	background-image: none;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

button {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 20;
	margin: 20px;
    color: #$accent;

	background-color: #$primary;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #$secondary;
	/* outline-style: none; */
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/pywal-logout.png"));
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/pywal-hibernate.png"));
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/pywal-lock.png"));
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/pywal-suspend.png"));
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/pywal-shutdown.png"));
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/pywal-reboot.png"));
}
