@use "sass:string";

@mixin kf-flyin($direction, $offset, $push, $id) {
    @keyframes flyin-#{$id} {
        0% {
            margin-#{$direction}: -$offset;
        }
        50% {
            margin-#{$direction}: 0px;
        }

        75% {
            margin-#{$direction}: $offset * $push;
        }

        100% {
            margin-#{$direction}: 0px;
        }
    }
}

@mixin kf-fade($value, $property, $id) {
    @keyframes fade-#{$id} {
        100% {
            #{$property}: $value;
        }
    }
}

@mixin flyin(
    $selector,
    $direction,
    $offset: 80px,
    $push: 0.1,
    $duration: 500ms
) {
    #{$selector} {
        $unique: string.unique-id();
        animation: $duration flyin-#{$unique}; // bezier is kinda buggy?

        @include kf-flyin($direction, $offset, $push, $id: $unique);
    }
}

@mixin fade(
    $selector,
    $color,
    $duration: 200ms,
    $property: "background-color"
) {
    #{$selector} {
        $unique: string.unique-id();
        animation: $duration fade-#{$unique} forwards;

        @include kf-fade($color, $property, $id: $unique);
    }
}
