@use "!!HOME/.cache/wal/colors.scss";

$primary: #!!primary;
$secondary: #!!secondary;
$accent: #!!accent;
$good: #!!good;
$bad: #!!bad;
$text: #!!text;
$bluetooth: #!!bluetooth;
$warning: #!!warning;
