@use "sass:list";
@use "animations";
@use "colors";

.bar {
    margin: 10px {
        // 3px for fixing hover weirdness (maybe hyprland has a way to remove padding from one edge only?)
        bottom: 3px;
    }
    min-height: 30px;

    $all-modules: "launcher", "workspaces", "sysinfo", "systray", "player",
        "info", "audio", "power";
    @each $modules in $all-modules {
        .#{$modules} {
            border-radius: 10px;
            background-color: colors.$primary;

            @if not list.index("workspaces", $modules) {
                @include animations.fade(
                    "&:hover",
                    colors.$primary,
                    colors.$accent
                );
                @include animations.fade(
                    "&:active",
                    colors.$accent,
                    colors.$primary
                );
            }

            .widget {
                padding: 0px 14px;
            }
        }
    }

    .workspaces {
        @include animations.fade(
            ".inactive:hover label",
            colors.$text,
            white,
            $property: "color"
        );

        & > box > button > label {
            min-width: 24px;
        }

        .active label {
            color: white;
        }
    }

    .systray {
        .widget {
            padding: 2px {
                left: 8px;
                right: 8px;
            }
        }
        button {
            padding: 0px {
                left: 3px;
                right: 3px;
            }
        }
    }

    // audio
    .bluetooth {
        background-color: colors.$bluetooth;
    }
    .muted {
        background-color: colors.$bad;
    }

    .info {
        .battery .glyph {
            min-width: 1.3em;
        }

        .connecting {
            color: colors.$warning;
        }
        .unknown {
            color: colors.$bad;
        }
    }
}

// i have no idea which scope TrayItem stays under
menu {
    background-color: colors.$primary;
    padding: 10px;
    border-radius: 10px;

    menuitem {
        border-radius: 10px;

        @include animations.fade("&:hover", colors.$primary, colors.$accent);

        label {
            padding: 2px 8px;
        }
    }
}

menubar {
    menuitem {
        padding: 4px;
    }
}
