// for future me reference https://gist.github.com/dharmx/24d7c69bb7ebc7cca72f0855a9f00117 legendary
// also gtk3 is pain
@use "animations";
@use "colors";

.glance {
    .layout-box {
        margin: 20px;
    }

    .weather {
        & > box {
            padding: 10px 20px;
        }

        border-radius: 20px;
        background-color: colors.$color1;

        .icon {
            min-width: 72px;
            min-height: 72px;
        }

        .description {
            font-size: 1.5em;
            font-weight: bolder;
        }

        .temperature {
            font-size: 1.25em;
        }

        @include animations.fade("&:hover", colors.$accent);
        @include animations.fade("&:active", colors.$color1);
    }

    .power {
        border-radius: 20px;
        background-color: colors.$color1;

        & > box {
            padding: 10px 30px;
        }

        .icon {
            padding: 20px {
                right: 0px;
            }
        }

        .mode {
            font-size: 1.75em;
            font-weight: bolder;
        }

        @include animations.fade("&:hover", colors.$accent);
        @include animations.fade("&:active", colors.$color1);
    }

    .quick-settings {
        .calendar {
            background-color: colors.$color1;
            padding: 10px 0px;
            border-radius: 20px;

            .clock {
                font-size: 2em;
                font-weight: bolder;
                padding: 5px;
            }

            calendar {
                padding: 10px;
                color: colors.$text;
                font-weight: bold;

                grid {
                    label {
                        margin: 4px;
                        padding: 5px;
                        border-radius: 10px;

                        &:selected {
                            background-color: colors.$secondary;
                        }

                        @include animations.fade("&:hover", colors.$accent);
                        @include animations.fade("&:active", colors.$secondary);
                    }

                    .today {
                        color: white;
                        font-weight: bolder;
                    }

                    .other-month {
                        color: #888888;
                    }
                }
            }
        }

        .battery .profile {
            background-color: colors.$color1;
            border-radius: 10px;

            .glyph {
                font-size: 7em;
            }

            .status {
                font-size: 3em;
            }
        }

        .bluetooth,
        .network {
            background-color: colors.$color1;
            border-radius: 10px;
            padding: 10px;

            .nodevice {
                font-size: 16px;
                font-weight: bolder;
            }

            .settings-box {
                .success {
                    background-color: colors.$good;
                }

                .waiting {
                    background-color: colors.$warning;
                }

                .failed {
                    background-color: colors.$bad;
                }

                button {
                    background-color: colors.$secondary;
                    border-radius: 10px;
                    padding: 10px 20px;

                    @include animations.fade("&:hover", colors.$accent);
                    @include animations.fade("&:active", colors.$secondary);
                }
            }

            separator {
                background-color: colors.$secondary;
                border-radius: 10px;
                padding: 1px;
            }

            .entry {
                border-radius: 10px;
                background-color: colors.$secondary;

                &.active {
                    background-color: colors.$good;
                }

                .value {
                    font-size: 1.25em;
                    font-weight: bolder;
                }

                .icon {
                    padding: 15px;
                }

                @include animations.fade("&:hover", colors.$accent);
                @include animations.fade("&:active", colors.$secondary);
            }

            .input {
                background-color: colors.$primary;

                entry {
                    background-color: green;
                }
            }
        }

        .controls {
            padding: 20px;
            border-radius: 20px;
            background-color: colors.$color1;

            button {
                @include animations.fade(
                    "&:hover scale highlight",
                    colors.$accent
                );
                @include animations.fade(
                    "&:active scale highlight",
                    colors.$secondary
                );
            }

            scale {
                background-color: colors.$color4;
                border-radius: 10px;

                slider {
                    min-width: 70px;
                    min-height: 70px;
                    border-radius: 10px;
                }

                highlight {
                    background-color: colors.$secondary;
                    border-radius: 10px;
                }
            }
        }
    }

    .notification-list {
        border-radius: 20px;
        background-color: colors.$color1;
        padding: 20px;

        .list-header {
            font-size: 1.5em;
            font-weight: bolder;
        }

        .caught-up {
            padding: 20px;

            label {
                font-size: 1.25em;
            }
        }
    }

    @include animations.flyin("&", "top");
}
