// for future me reference https://gist.github.com/dharmx/24d7c69bb7ebc7cca72f0855a9f00117 legendary
// also gtk3 is pain
@use "animations";
@use "colors";

.glance {
    .layout-box {
        margin: 20px;
    }

    .weather {
        & > box {
            padding: 10px 20px;
        }

        border-radius: 20px;
        background-color: colors.$color1;

        .icon {
            min-width: 72px;
            min-height: 72px;
        }

        .description {
            font-size: 1.5em;
            font-weight: bolder;
        }

        .temperature {
            font-size: 1.25em;
        }

        @include animations.fade("&:hover", colors.$accent);
        @include animations.fade("&:active", colors.$color1);
    }

    .power {
        & > box {
            padding: 10px 30px;
        }

        border-radius: 20px;
        background-color: colors.$color1;

        .icon {
            font-size: 3em;

            padding: 20px {
                right: 0px;
            }
        }

        .mode {
            font-size: 1.75em;
            font-weight: bolder;
        }

        @include animations.fade("&:hover", colors.$accent);
        @include animations.fade("&:active", colors.$color1);
    }

    .quick-settings {
        .schedule {
            padding: 10px;

            .header {
                .event-incoming {
                    background-color: colors.$secondary;
                    border-radius: 20px;
                    padding: 2px 10px;
                }

                .event-add {
                    background-color: colors.$secondary;
                    padding: 0px 10px;
                    border-radius: 20px;

                    label {
                        font-size: 1.5em;
                    }

                    @include animations.fade("&:hover", colors.$good);
                }
            }

            .entry {
                background-color: colors.$secondary;
                padding: 10px;
                border-radius: 10px;

                .event-name {
                    padding: 0px 5px;
                    font-size: 1.25em;
                }

                .footer {
                    margin-top: 2px;

                    label {
                        font-size: 0.8em;
                    }
                }

                .event-remove {
                    padding-left: 5px;

                    @include animations.fade(
                        "&:hover label",
                        colors.$bad,
                        $property: "color"
                    );
                }

                .event-time {
                    background-color: colors.$color1;
                    border-radius: 20px;
                    padding: 0px 10px;
                }
            }

            .seperator {
                margin: 2px;
                padding: 2.5px;
                border-radius: 10px;
                background-color: colors.$color4;
            }
        }

        .calendar {
            background-color: colors.$color1;
            padding: 10px 0px;
            border-radius: 20px;

            .clock {
                font-size: 2em;
                font-weight: bolder;
                padding: 5px;
            }

            .controls {
                padding-right: 0px;

                button {
                    @include animations.fade(
                        "&:hover label",
                        colors.$accent,
                        $property: "color"
                    );
                    @include animations.fade(
                        "&:active label",
                        colors.$text,
                        $property: "color"
                    );

                    label {
                        padding: 0px;
                    }
                }
            }

            calendar {
                padding: 10px;
                color: colors.$text;
                font-weight: bold;

                &:hover {
                    color: white;
                }

                &:selected {
                    color: white;
                    font-weight: bolder;
                }

                &:indeterminate {
                    color: #888888;
                }
            }
        }

        .battery .profile {
            background-color: colors.$color1;
            border-radius: 10px;

            .glyph {
                font-size: 7em;
            }

            .status {
                font-size: 3em;
            }
        }

        .bluetooth,
        .network {
            background-color: colors.$color1;
            border-radius: 10px;
            padding: 10px;

            .settings-box {
                .success {
                    background-color: colors.$good;
                }

                .waiting {
                    background-color: colors.$warning;
                }

                .failed {
                    background-color: colors.$bad;
                }

                button {
                    background-color: colors.$secondary;

                    border-radius: 10px;
                    padding: 10px 20px;

                    @include animations.fade("&:hover", colors.$accent);
                    @include animations.fade("&:active", colors.$secondary);
                }
            }

            separator {
                background-color: colors.$secondary;
                border-radius: 10px;
                padding: 1px;
            }

            .entry {
                border-radius: 10px;
                background-color: colors.$secondary;

                .value {
                    font-size: 1.5em;
                }

                .icon {
                    font-size: 2em;

                    padding: 15px {
                        left: 20px;
                    }
                }

                @include animations.fade("&:hover", colors.$accent);
                @include animations.fade("&:active", colors.$secondary);
            }

            .input {
                background-color: colors.$primary;

                entry {
                    background-color: green;
                }
            }
        }

        .controls {
            padding: 20px;
            border-radius: 20px;
            background-color: colors.$color1;

            & > button {
                @include animations.fade(
                    "&:hover circularprogress",
                    colors.$accent,
                    $property: "color"
                );
                @include animations.fade(
                    "&:active circularprogress",
                    colors.$text,
                    $property: "color"
                );
            }

            circularprogress {
                min-width: 70px;
                min-height: 70px;
                background-color: colors.$color4;
                color: colors.$text;
                font-size: 10px;
            }
        }
    }

    @include animations.flyin("&", "top");
}
