@use "animations";
@use "colors";

.media {
    .layout-box {
        min-width: 480px;
        margin: 20px;
        background-color: colors.$color1;
        border-radius: 10px;
        padding: 15px;

        .volume-box {
            margin: 5px 0px;

            .mute,
            .list {
                @include animations.fade(
                    "&:hover label",
                    colors.$accent,
                    $property: "color"
                );
                @include animations.fade(
                    "&:active label",
                    colors.$text,
                    $property: "color"
                );
            }

            .mute label {
                font: {
                    size: 1.25em;
                    weight: bolder;
                }
            }

            scale {
                background-color: colors.$color2;
                border-radius: 10px;
                margin-top: 10px;

                slider {
                    min-height: 10px;
                }

                highlight {
                    background-color: colors.$accent;
                    border-radius: 10px;
                }
            }

            .name {
                min-height: 2em;
                background-color: colors.$primary;
                padding: 0px 14px;
                border-radius: 10px;

                @include animations.fade("&:hover", colors.$accent);
                @include animations.fade("&:active", colors.$primary);
            }

            .default {
                background-color: colors.$secondary;
            }

            .available-endpoints {
              padding-top: 10px;
            }
        }
    }

    .mixer {
        .buttons button {
            background-color: colors.$primary;
            border-radius: 20px;

            label {
                padding: 10px;
            }

            @include animations.fade("&:hover", colors.$accent);
            @include animations.fade("&:active", colors.$primary);
        }
    }

    @include animations.flyin("&", "top");
}
