@use "animations";
@use "colors";

.mpris {
    .layout-box {
        margin: 20px;
        background-color: colors.$primary;
        border-radius: 10px;

        .left {
            border-radius: 10px;
            background-color: colors.$secondary;

            picture {
                border-radius: 10px;
            }

            .controls {
                padding: 10px 20px;

                @include animations.fade(
                    "button:hover image",
                    white,
                    $property: "color"
                );
                @include animations.fade(
                    "button:active image",
                    colors.$text,
                    $property: "color"
                );
            }
        }

        .right {
            padding: 10px;
            padding-left: 20px;
            padding-right: 40px;

            .duration {
                font-size: 1em;
            }

            .title {
                font-size: 2.5em;
                font-weight: bolder;
            }

            .artist {
                font-size: 1.5em;
                font-weight: bold;
            }

            .active-player-control {
                @include animations.fade(
                    "&:hover label",
                    colors.$accent,
                    $property: "color"
                );
                @include animations.fade(
                    "&:active label",
                    colors.$text,
                    $property: "color"
                );
            }

            scale {
                background-color: colors.$secondary;
                margin: 10px 0px;
                border-radius: 10px;

                slider {
                    min-height: 6px;
                }

                highlight {
                    background-color: colors.$text;
                    border-radius: 10px;
                }
            }
        }
    }

    @include animations.flyin("&", "top");
}
