@use "animations";
@use "colors";

$button-open-height: 40px;
$button-highlight-height: 30px;

.powermenu {
    background-color: transparent;
    margin-right: 40px;

    .layout-box {
        @include animations.flyin("&", "right");
        @include animations.fade(
            "button:hover",
            colors.$primary,
            colors.$secondary
        );

        button {
            padding: $button-open-height $button-open-height;
            border-radius: 10px;
            background-color: colors.$primary;
            min-width: 50px;
            min-height: 60px;

            image {
                color: colors.$accent;
                font-size: 40px;
            }
        }

        .transition-text {
            font-weight: bolder;
            font-size: 16px;
            padding-right: 20px;
            color: transparent;
        }

        @each $selector in "power", "reboot", "suspend", "hibernate" {
            .#{$selector}:hover button {
                transition: 100ms linear padding;
                padding-top: $button-highlight-height;
                padding-bottom: $button-highlight-height;
            }

            .#{$selector}:not(:hover) button {
                transition: 100ms linear padding;
                padding-top: $button-open-height;
                padding-bottom: $button-open-height;
            }

            .#{$selector}:hover .transition-text {
                @include animations.flyin("&", "right");
                transition: 200ms linear color;
                color: colors.$accent;
            }

            .#{$selector}:not(:hover) .transition-text {
                transition: 200ms linear color;
                color: transparent;
            }
        }

        .power button image {
            color: colors.$bad;
        }
    }
}
