@use "animations";
@use "colors";

$button-open-height: 40px;
$button-highlight-height: 30px;

.replaymenu {
    margin-left: 40px;

    .layout-box {
        button {
            padding: $button-open-height $button-open-height;
            border-radius: 10px;
            background-color: colors.$primary;
            min-width: 50px;
            min-height: 60px;

            image {
                color: colors.$accent;
            }
        }

        .transition-text {
            font-weight: bolder;
            font-size: 16px;
            color: transparent;
            min-width: 100px;
        }

        .record {
            .pause {
                margin-left: 20px;
            }

            @include animations.fade(".recording", colors.$good);
            @include animations.fade(".paused", colors.$warning);
        }

        .replay {
            @include animations.fade(".disabled", colors.$bad);
        }

        .microphone {
            @include animations.fade(".disabled", colors.$bad);
        }

        @each $selector in "replay", "record", "microphone" {
            .#{$selector}:hover button {
                transition: 100ms linear padding;
                padding-top: $button-highlight-height;
                padding-bottom: $button-highlight-height;
            }

            .#{$selector}:not(:hover) button {
                transition: 100ms linear padding;
                padding-top: $button-open-height;
                padding-bottom: $button-open-height;
            }

            .#{$selector}:hover .transition-text {
                transition: 200ms linear color;
                color: colors.$accent;

                @include animations.flyin("&", "left");
            }

            .#{$selector}:not(:hover) .transition-text {
                transition: 200ms linear color;
                color: transparent;
            }
        }

        @include animations.flyin("&", "left");
        @include animations.fade("button:hover", colors.$secondary);
    }
}
