[Unit]
Description=Get the current power profile for Lenovo Ideapad 3 Laptops

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lenovo-profile

[Install]
WantedBy=multi-user.target
