@use 'scss/colors';

// window stuff
@use 'scss/bar';
@use 'scss/mpris';
// @use 'scss/glance';
@use 'scss/powermenu';
@use 'scss/media';
// @use 'scss/replay';

* {
    all: initial;
    font: {
        family: JetBrainsMono NF;
        size: 14px;
        weight: bold;
    }

    label {
        color: colors.$text;
    }

    image {
        color: colors.$text;
    }
}

tooltip label {
    background-color: colors.$primary;
    padding: 5px 15px;
    border-radius: 20px;
}
