* {
    /* ignore gtk theme */
    all: initial;
    font-weight: bold;
    font-family: JetbrainsMono Nerd Font;
}

window#waybar {
    background: alpha(#!!special_background, 0);
}

tooltip {
    border-color: #!!primary;
    background: alpha(#!!primary, 0.8);
    border-radius: 10px;
}

tooltip label {
    padding: 0.5em;
}

#cpu,
#tray,
#clock,
#memory,
#window,
#battery,
#network,
#pulseaudio,
#workspaces,
#idle_inhibitor,
#custom-logout,
#custom-weather,
#custom-media {
    color: #!!text;
    background-color: #!!primary;
    padding: 0.5em 1em;
    margin: 10px 10px 0px;
    border-radius: 10px;
}

#memory {
    margin-right: 0px;
    padding-right: 0.5em;
    border-radius: 10px 0px 0px 10px;
}

#cpu {
    margin-left: 0px;
    padding-left: 0.5em;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio {
    margin-right: 0px;
    padding-right: 0.5em;
    padding-left: 1em;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    padding-right: 1em;
    padding-left: 0.5em;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio.bluetooth {
    background-color: #!!bluetooth;
}

#pulseaudio.muted {
    background-color: #!!bad;
}

#workspaces {
    background: #!!primary;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0px 0.7em;
}

#workspaces button label {
    color: #!!text;
}

#workspaces button.active label {
    color: #ffffff;
}

#workspaces button:hover label {
    color: #ffffff;
}

#tray menu {
    padding: 0.5em;
    background: alpha(#!!primary, 0.8);
    border-radius: 10px;
}

#tray menu label {
    padding: 0.3em 0.5em;
}

#tray menu menuitem:hover {
    background: alpha(#!!accent, 0.8);
    border-radius: 10px;
}

#battery.charging,
#battery.full {
    background-color: #!!good;
}

#battery.warning:not(.charging) {
    background-color: #!!bad;
}

#network.disconnected,
#network.disabled {
    background-color: #!!bad;
}
