@use "sass:list";
@use 'css/animations';
@use 'css/colors';

.w_bar {
    margin: 10px { bottom: 0px }

    $all-modules: "launcher", "workspaces", "sysinfo", "tray", "player", "info", "media", "power";
    @each $modules in $all-modules {

        .#{$modules} {
            @if not list.index("workspaces", $modules) {
                @include animations.fade("&:hover", colors.$primary, colors.$accent);
                @include animations.fade("&:active", colors.$accent, colors.$primary);
            }
            border-radius: 10px;
            background-color: colors.$primary;

            .widget {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
    }

    .launcher .image {
        background: {
            image: url("!!HOME/.config/eww/images/launcher.png");
            size: 16px 16px;
            repeat: no-repeat;
            position: center;
        }
    }

    .workspaces {
        @include animations.fade(".inactive:hover label", colors.$text, white, $property: "color");
        .active label {
            color: white;
        }
    }

    .tray {
        .widget {
            padding-left: 8px;
            padding-right: 8px;
        }

        menu {
            background-color: colors.$primary;
            padding: 10px;
            border-radius: 10px;

            menuitem {
                @include animations.fade("&:hover", colors.$primary, colors.$accent);
                border-radius: 10px;
                label {
                    padding: 2px 8px;
                }
            }
        }

        menubar {
            menuitem {
                padding: 4px;
            }
        }
    }

    // media
    .bluetooth {
        background-color: colors.$bluetooth;
    }
    .muted {
        background-color: colors.$bad;
    }

    // network
    .limited label {
        color: colors.$warning;
    }
    .none label {
        color: colors.$bad;
    }
}
