@use "sass:list";

.w_bar {
    margin: 10px { bottom: 0px }

    $all-modules: "launcher", "workspaces", "sysinfo", "tray", "player", "network", "media", "battery", "clock", "power";
    @each $modules in $all-modules {

        .#{$modules} {
            @if not list.index("workspaces", $modules) {
                @include animate-fade("&:hover", $primary, $accent);
                @include animate-fade("&:active", $accent, $primary);
            }
            border-radius: 10px;
            background-color: $primary;

            .wrapper {
                padding-left: 14px;
                padding-right: 14px;
            }


            label {
                font: {
                    size: 14px;
                    weight: bold;
                }
                color: $text;
            }
        }
    }

    .launcher .image {
        background: {
            image: url("!!HOME/.config/eww/images/launcher.png");
            size: 16px 16px;
            repeat: no-repeat;
            position: center;
        }
    }

    .workspaces {
        @include animate-fade(".inactive:hover label", $text, white, $property: "color");
        .active label {
            color: white;
        }
    }

    // media
    .bluetooth {
        background-color: $bluetooth;
    }
    .muted {
        background-color: $bad;
    }

    // network
    .limited {
        background-color: $warning;
    }
    .none {
        background-color: gray;
    }
}
