// for future me reference https://gist.github.com/dharmx/24d7c69bb7ebc7cca72f0855a9f00117 legendary
// also gtk3 is pain

.w_glance {
    @include animate-flyin("&", "top");
    .layout-box {
        margin: 20px;
        background-color: $secondary;
        border-radius: 10px;
        .time {
            .clock {
                label {
                    font-size: 2em;
                    font-weight: bolder;
                }
                padding: 15px;
            }
            calendar {
                background-color: $primary;
                border-radius: 10px;
                padding: 10px;
                color: $text;
                font-weight: bold;

                &:hover {
                    color: white;
                }

                &:selected {
                    color: white;
                    font-weight: bolder;
                }

                &:indeterminate {
                    color: #888888;
                }
            }
        }
    }
}
