.w_powermenu {
    background-color: transparent;
    margin-right: 40px;

    .layout-box {
        @include animate-flyin("&", "right");
        @include animate-fade("button:hover", $primary, $secondary);
        button {
            padding: 35px;
            border-radius: 10px;
            background-color: $primary;


            label {
                color: $accent;
                font-size: 40px;
            }
        }

        @each $selector in "power", "reboot", "logout", "hibernate" {
            .#{$selector} .transition-text {
                font-weight: bolder;
                font-size: 16px;
                padding-right: 20px;
                color: transparent;
            }

            .#{$selector}:hover button {
                transition: 100ms linear padding;
                padding: 25px 35px;
            }

            .#{$selector}:not(:hover) button {
                transition: 100ms linear padding;
                padding: 35px 35px;
            }

            .#{$selector}:hover .transition-text {
                @include animate-flyin("&", "right");
                transition: 200ms linear color;
                color: $accent;
            }

            .#{$selector}:not(:hover) .transition-text {
                transition: 200ms linear color;
                color: transparent;
            }
        }

        .power button label {
            color: $bad;
            font-size: 45px;
        }
    }
}
