@use 'css/colors';

// window stuff
@use 'css/player';
@use 'css/glance';
@use 'css/media';

* {
    all: initial;
    font: {
        family: JetBrainsMono NF;
        size: 14px;
        weight: bold;
    }

    label {
        color: colors.$text;
    }
}

tooltip label {
    background-color: colors.$primary;
    padding: 5px 15px;
    border-radius: 20px;
}
