@use 'css/colors';

// window stuff
@use 'css/bar';
@use 'css/player';
@use 'css/glance';
@use 'css/powermenu';

* {
    all: initial;
    font: {
        family: JetBrainsMono Nerd Font;
        size: 14px;
        weight: bold;
    }

    label {
        color: colors.$text;
    }
}
